#include <winver.h>
#include <ntdef.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION             0,6,0,0
PRODUCTVERSION        	0,6,0,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0x0L
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "A single field deinterlacer using edge-directed interpolation."
        VALUE "FileDescription",  "SangNom2 for AviSynth 2.6 / AviSynth+"
        VALUE "FileVersion",      "0.6.0"
        VALUE "InternalName",     "SangNom2"
        VALUE "OriginalFilename", "SangNom2.dll"
        VALUE "ProductName",      "SangNom2"
        VALUE "ProductVersion",   "0.6.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
